<ion-tabs>
  <!-- <ion-header>
    <ion-toolbar>
      <img
        src="assets/icon/logo-no-background.png"
        alt="SCMA Logo"
        style="display: block; margin: 0 auto; height: 200px; width: 400px"
      />
    </ion-toolbar>
  </ion-header> -->
  <ion-tab-bar slot="top">
    <ion-tab-button tab="home">
      <img
        src="assets/icon/starwars.webp"
        alt="Home"
        style="width: 60px; height: 60px"
      />
      <ion-label>Star Wars</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="openproject">
      <img
        src="assets/icon/openproject2.png"
        alt="Open Project"
        style="width: 120px; height: 150px"
      />
      <ion-label>Open Project</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
