<ion-content class="ion-padding">
  <div *ngIf="modelData">
    <h2>Select Data for Model</h2>
    <div *ngFor="let key of objectKeys(modelData)">
      <ion-item>
        <ion-checkbox
          slot="start"
          [(ngModel)]="selectedFields[key]"
        ></ion-checkbox>
        <ion-label>{{ key }}</ion-label>
      </ion-item>
    </div>
    <ion-button expand="full" (click)="createModel()">Create Model</ion-button>
  </div>

  <pre *ngIf="modelData2">{{ modelData2 | json }}</pre>

  <div *ngIf="modelData2">
    <h2>Select Data for Model22222222222</h2>
    <div *ngFor="let key of objectKeys(modelData2)">
      <ion-item>
        <ion-checkbox
          slot="start"
          [(ngModel)]="selectedFields[key]"
        ></ion-checkbox>
        <ion-label>{{ key }}</ion-label>
      </ion-item>
    </div>
    <ion-button expand="full" (click)="createModel2()">Create Model</ion-button>
  </div>

  <pre *ngIf="modelData">{{ modelData2 | json }}</pre>

  <ion-button *ngIf="showDownloadButton" expand="full" (click)="downloadJson()">
    Download JSON
  </ion-button>
</ion-content>
